ClfAddons/
Conllus/
slurm_archive/
SnippetDatasets/
TestResults/
Keylists.jsonl
*.sh
*_ignorable_*
*.pyc
test_1_2
cache_dir
checkpoints/
mlruns/
TCBC_v1-0_sniplen5_finetuned_FinBERT/
FinBERT_for_book_snippets_5/
quickie.ipynb
TCBC_datasets/
FinBERT*
*.jsonl